<!-- STANDARD NAVIGATION COMPONENT - Use across all Fudumala sites -->
<div fs-scrolldisable-element="smart-nav" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar6_component color-scheme-1 w-nav">
  <div class="navbar6_container">
    <a href="index.html" aria-current="page" class="navbar6_logo-link w-nav-brand w--current">
      <img loading="eager" height="32px" alt="Fudumala School Jersey Drive Logo" src="images/relume-62846.png" loading="lazy" class="navbar6_logo">
    </a>
    <nav role="navigation" class="navbar6_menu w-nav-menu">
      <div class="navbar6_menu-left">
        <a href="index.html" aria-current="page" class="navbar6_link w-nav-link w--current">Home</a>
        <a href="about-us.html" class="navbar6_link w-nav-link">About Us</a>
        <div class="navbar6_dropdown w-dropdown" data-hover="false" data-delay="0">
          <div class="navbar6_dropdown-toggle w-dropdown-toggle">
            <div class="navbar6_link">Impact Over the Years</div>
            <div class="icon-embed-xxsmall w-embed">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 6L8 10L12 6" stroke="currentColor" stroke-width="1.5"></path>
              </svg>
            </div>
          </div>
          <nav class="navbar6_dropdown-list w-dropdown-list">
            <a href="2025-impact.html" class="navbar6_dropdown-link w-dropdown-link">2025 Impact &amp; Stories</a>
            <a href="2024-impact-stories.html" class="navbar6_dropdown-link w-dropdown-link">2024 Impact &amp; Stories</a>
            <a href="2023-impact-stories.html" class="navbar6_dropdown-link w-dropdown-link">2023 Impact &amp; Stories</a>
          </nav>
        </div>
        <a href="news.html" class="navbar6_link w-nav-link">News</a>
        <a href="get-involved.html" class="navbar6_link w-nav-link">Get involved</a>
        <a href="partner-2026.html" class="navbar6_link w-nav-link">Sponsor for 2026</a>
      </div>
      <div class="navbar6_menu-right">
        <a href="partner-2026.html" class="button is-small w-button">Sponsor for 2026</a>
      </div>
    </nav>
    <div class="navbar6_menu-button w-nav-button">
      <div class="menu-icon5">
        <div class="menu-icon1_line-top"></div>
        <div class="menu-icon1_line-middle">
          <div class="menu-icon1_line-middle-inner"></div>
        </div>
        <div class="menu-icon1_line-bottom"></div>
      </div>
    </div>
  </div>
</div>